

data/raw/ibge/*.txt
data/raw/ibge/*.xls
data/raw/ibge/*.zip
data/raw/mte/
data/raw/inss/
data/raw/ipeadata/
data/raw/ocde/



data/processed/pnadc_2023_anual.csv



notebooks/**/*.py



.ipynb_checkpoints/
**/.ipynb_checkpoints/



.DS_Store
**/.DS_Store



__pycache__/
*.pyc
*.pyo
.env
*.egg-info/



sanitizar_caminhos.py
